<section id="cards">
    {{#each recipes as |recipe|}}
    <div class="card" id="card">
        <div class="card-header-title" id="card-header-title">
            <a href="/recipe/{{recipe.recipe_name}}">{{recipe.recipe_name}}</a>

            <a href="#" data-recipe-name="{{recipe.recipe_name}}" class="delete">Delete</a>
        </div>
        <div >
            <a href="/recipe/{{recipe.recipe_name}}"><img src="{{recipe.image.url}}"></a>
        </div>
    </div>
    {{/each}}
</section>


<script src="/js/delete.js"></script>
