<section>
    <img src="{{recipe.image.url}}">
    <h3 id="recipe_name">{{recipe.recipe_name}}</h3>
    <p>Cook time: <span id="recipe_time">{{recipe.time}}</span></p>

    {{#equals recipe.user_id user_id }}
    <a href="#" id="favorite">Favorite</a>
    {{/equals}}

    <h4>Ingredients</h4>
    <ul class="ingredients">
        {{#each recipe.ingredient.ingredient}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</section>


<section>
    <h4>Tags</h4>
    <ul class="tags">
        {{#each recipe.tags}}
        <li>{{this.tag_name}}</li>
        {{/each}}
    </ul>
</section>

<section>
    <h4>Instructions</h4>

    {{#each recipe.instruction.instruction}}
    <p>{{this}}</p>
    {{/each}}

</section>

<script src="/js/favorite.js"></script>
